{
    "env": {
        "test": {
            "presets": ["es2015"]
        },
        "release": {
            "presets": ["es2015", { "modules": false }],
            "plugins": ["external-helpers"]
        }
    }
}
